<div class="slide-area">
	<div class="slide-container">
		<div class="mySlides"><img src="/img/agent.jpg"><div class="slide-caption">Client with Agent</div></div>
		<div class="mySlides"><img src="/img/sales-board.jpg"><div class="slide-caption">Sales Board</div></div>
		<div class="mySlides"><img src="/img/agent-plan.jpg"><div class="slide-caption">Agent with Plan</div></div>
		<div class="mySlides"><img src="/img/meeting.jpg"><div class="slide-caption">Client Leading a Team Meeting</div></div>
		<div class="mySlides"><img src="/img/client.jpg"><div class="slide-caption">Client at Work</div></div>

		<div class="slide-navigation">
			<button class="w3-button w3-display-left slide-button" onclick="plusDivs(-1)">&#10094;</button>
			<button class="w3-button w3-display-right slide-button" onclick="plusDivs(+1)">&#10095;</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/slide.js"></script>
